.fade-in {
-webkit-animation: fade-in;
animation: fade-in 1s;
animation-fill-mode: forwards;
animation-duration: 1s;
visibility: hidden;
}

@keyframes fade-in {
    from{
        visibility: visible;
        opacity: 0;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}


.fade-out {
    -webkit-animation: fade-out;
    animation: fade-out;
    animation-fill-mode: forwards;
    animation-duration: .6s;
    animation-delay: .9s;
    visibility: visible;
    }
    
    @keyframes fade-out {
        from{
            visibility: visible;
            opacity: 1;
            z-index: 32220;
        }
        to{
            visibility: hidden;
            opacity: 0;
            z-index: 0;
        }
    }


.flip-y {
    -webkit-animation: flip-y;
    animation: flip-y;
    animation-fill-mode: forwards;
}

@keyframes flip-y {
    from{
        visibility: hidden;
    }
    to{
        visibility: visible;
        transform: rotateY(180deg);
    }
}